[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
transformers = "*"
einops = "*"
langchain = "*"
bitsandbytes = "*"
sentence-transformers = "*"
llama-index-llms-huggingface = "*"
langchain-community = "*"
llama-index-embeddings-langchain = "*"
rouge-score = "*"
evaluate = "*"
datasets = "*"
bert-score = "*"
sacrebleu = "*"
flask = "*"
flask-cors = "*"
llama-index-readers-file = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
